{% extends 'basestore.html.twig' %}

{% block title %}Cart index
{% endblock %}

{% block body %}
	<h1>Cart index</h1>

	<table class="table">
		<thead>
			<tr>
                <th></th>
				<th>Product</th>
				<th>Image</th>
				<th>Quantity</th>
				<th>Price</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for cart in carts %}
				<tr>
					<td>{{ cart.book.name }}</td>
					<td><img src="/uploads/images/{{cart.book.image}}" style="width:100px"/></td>

					<td>
						{{ include('cart/_delete_form.html.twig') }}
					</td>
				</tr>
                <tr>
					{

					}
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
    <a href="{{path('app_order_new')}}">Create order</a>
{% endblock %}
