{{ form_start(form) }}

<div class="col-md-6 col-lg-4">
	<div class="form-group has-success">
		{{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
	</div>
</div>
<div class="row mt-3">
	<div class="col-md-6 col-lg-4">
		<div class="form-group">
			<button class="btn btn-success">{{ button_label|default('Save') }}</button>
		</div>
	</div>
</div>

{{ form_end(form) }}
