{% extends 'basestore.html.twig' %}

{% block body %}
	<div class="container" style="padding:50px;">

		<table class="table">
			<thead>
				<main class="page contact-us-page">
					<div class="container">
						<h2 class="text-info" style="text-align:center;">Create new Order</h2>
                        <div class="mb-3">
							<label class="form-label" for="name">Fullname</label><input class="form-control" type="text" id="name" name="name">
						</div>
						<div class="mb-3">
							<label class="form-label" for="name">Orderdate</label><input class="form-control" type="text" id="name" name="name">
						</div>
						<div class="mb-3">
							<label class="form-label" for="subject">Phone</label><input class="form-control" type="text" id="subject" name="subject">
						</div>
						<div class="mb-3">
							<label class="form-label" for="email">Address</label><input class="form-control" type="email" id="email" name="email">
						</div>
					</div>
				</main>
			</thead>
		</table>
		<a class="btn btn-primary ms-2" href="{{path('app_orderdetails_index')}}">Save</a>
	</div>
{% endblock %}
